<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SignIn.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BC70729FCA49F36554AA0C43201CF19EBCE15384</string>
				<key>dateExpires</key>
				<string>5/14/23</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC70729FCA49F36554AA0C43201CF19EBCE15384</string>
						<key>dateExpires</key>
						<string>5/14/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3KVQWQZKV4</string>
						<key>name</key>
						<string>UNIVERSITY COOPERATIVE HOUSING ASSOCIATION</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC70729FCA49F36554AA0C43201CF19EBCE15384</string>
						<key>dateExpires</key>
						<string>5/14/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3KVQWQZKV4</string>
						<key>name</key>
						<string>UNIVERSITY COOPERATIVE HOUSING ASSOCIATION</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC70729FCA49F36554AA0C43201CF19EBCE15384</string>
						<key>dateExpires</key>
						<string>5/14/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3KVQWQZKV4</string>
						<key>name</key>
						<string>UNIVERSITY COOPERATIVE HOUSING ASSOCIATION</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC70729FCA49F36554AA0C43201CF19EBCE15384</string>
						<key>dateExpires</key>
						<string>5/14/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAPIClientForREST.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3KVQWQZKV4</string>
						<key>name</key>
						<string>UNIVERSITY COOPERATIVE HOUSING ASSOCIATION</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC70729FCA49F36554AA0C43201CF19EBCE15384</string>
						<key>dateExpires</key>
						<string>5/14/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>JGProgressHUD.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3KVQWQZKV4</string>
						<key>name</key>
						<string>UNIVERSITY COOPERATIVE HOUSING ASSOCIATION</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BC70729FCA49F36554AA0C43201CF19EBCE15384</string>
						<key>dateExpires</key>
						<string>5/14/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SpreadsheetView.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3KVQWQZKV4</string>
						<key>name</key>
						<string>UNIVERSITY COOPERATIVE HOUSING ASSOCIATION</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3KVQWQZKV4.ucla.KitchenSignInSheet</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>3KVQWQZKV4</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>SignIn.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8db22d11-9680-4783-af66-f52dd4f66bfe</string>
				<key>dateExpires</key>
				<string>5/14/23</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: ucla.KitchenSignInSheet</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3KVQWQZKV4</string>
				<key>name</key>
				<string>UNIVERSITY COOPERATIVE HOUSING ASSOCIATION</string>
			</dict>
			<key>versionNumber</key>
			<string>0.1.1</string>
		</dict>
	</array>
</dict>
</plist>
